{% extends "base.html" %}

{% block jumbotron %}
<div class="jumbotron">
    <h1 class="display-4">Welcome {{ user.name }}!</h1>
    <p class="lead"> Welcome admin!</p>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <h3 class="card-title">Add A Video</h3>
            <form>
                <div class="form-group">
                    <label>Video Name</label>
                    <input class="form-control" id="name">
                </div>
                <div class="form-group">
                    <label>Description</label>
                    <textarea class="form-control" id="description" rows="2"></textarea>
                </div>
                <div class="form-group">
                    <label>Date</label>
                    <input class="form-control" id="date">
                </div>
                <div class="form-group">
                    <label>VdoCipher ID</label>
                    <input class="form-control" id="id">
                    <small class="form-text text-muted">ID for video from VdoCipher API.</small>
                </div>
                <button type="submit" class="btn btn-success">Add Video</button>
            </form>
        </div>
        <div class="col">
            <button type="button" class="btn btn-success">Add Week</button>
        </div>
    </div>
</div>
{% endblock %}
