{% extends "base.html" %}

{% block content %}
{% if not user %}
<div class="alert alert-danger" role="alert">
    You are <b>not currently</b> logged in.
</div>
{% endif %}
{% if user %}
{% for week in weeks %}
<div class="card">
    <div class="card-header">
        <b>Week {{ loop.index }}</b>
    </div>

    <div class="card-group">
    {% for video in week[loop.index|string] %}
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{ video["name"] }}</h5>
                <p class="card-text">{{ video["description"] }}</p>
                <p class="card-text"><small class="text-muted">Released: {{ video["date"] }}</small></p>
                <a href="/watch/{{ video.id }}" class="btn btn-primary"><span class="oi oi-video" title="person" aria-hidden="true"></span> Watch</a>
            </div>
        </div>
    {% endfor %}
    </div>
</div>
<br />
{% endfor %}
<br/>
<br/>
<br/>
{% endif %}
{% endblock %}
